.note__wrapper {
    width: 400px;
    height: 200px;
    margin: 20px;
    padding: 5px;
    border: 1px solid #94949481;
    border-radius: 4px;
    position: relative;

    .info__wrapper {
        .info__time {
            font-family: monospace;
            text-align: center;
        }
    }

    .remove-button {
        width: 32px;
        height: 32px;
        position: absolute;
        right: -16px;
        top: -16px;
        border: 1px solid #94949481;
        border-radius: 32px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            border-color: red;
            cursor: pointer;
        }

        &:active {
            background-color: #ffa8a8;
        }
    }
}